// Specify Docker containers for workflow processes
process {
    withLabel: Nucleaze {
        // TODO: Build and publish nucleaze container image
        container = "harmonb/outward-assembly-nucleaze:v0.1"
    }
    withLabel: coreutils {
        container = "community.wave.seqera.io/library/coreutils:9.5--ae99c88a9b28c264"
    }
}
